.game-space {
  width: 100%;
  height: 300px;
  background-color: beige;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 220px;
}

.dots {
  height: 30px;
  width: 30px;
  background-image: url("../images/red-dot.png");
  background-size: cover;
}

